{{ partial "header.html" . }}

{{ partial "content_header.html" . }}

<link rel="stylesheet" id="custom-single" href="{{ absURL "css/custom-single.css" }}" type="text/css" media="all"/>

<body class="page-body boxed-container">
         99999999999
     <iframe src="https://shadowrocket.qiumm.cn">
     </iframe>
    <main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">{{ .Title }}</h1>
        <div class="content">
            {{ .Content | markdownify | safeHTML }}
        <ul>
            {{ range .Pages }}
            <li>
                <span class="posts-list-date">{{ .Lastmod.Format "2006/01/02" }}</span>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    </div>
    </main>

{{ partial "content_footer.html" . }}

{{ partial "footer.html" . }}
